.navigation {
    padding: 1.8rem 2.4rem;
    background-color: var(--color-02);
    margin-bottom: 4.8rem;
}

.navigation ul {
    width: 100%;
    display: flex;
    gap: 4.8rem;
}

.navigation ul li {
    width: 100%;
    flex: 1;
    text-align: center;
    padding: 2.4rem 0;
    border-radius: 1rem;
}

.navigation ul li:nth-child(1) {
    background: var(--color-01);
}

.navigation ul li a {
    display: block;
    text-align: center;
}