.skills-items .skill-item {
    width: 100%;
    background-color: var(--color-02);
    border-radius: 1.5rem;
    padding: 1.8rem 2.4rem;
}

.skill-item .skill-header {
    width: 8rem;
    height: 8rem;
    margin: 0 auto 4.8rem;
}

.skill-item .skill-header img {
    display: block;
    max-width: 100%;
}

@media screen and (max-width: 768px) {
    .skill-item .skill-header {
        width: 6rem;
        height: 6rem;
    }
}