.datas {
    max-width: 630px;
    margin: 0 auto;
}

.datas-items {
    display: flex;
    padding: 2rem 3rem;
    gap: 4.8rem;
}

.datas-items li {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .datas-items {
        padding: 2rem 0;
    }
}